.item-list-container {
  padding: 1em 0;
  margin-top: 0;

  @include breakpoint($tab_device) {
    padding: 3em 0;
  }
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-main {
  .item-list {
    margin-top: 1.5em;
    @include breakpoint($tab_device) {
      margin-top: 3em;
    }
  }
}

.vertical-sidetext {
  position: absolute;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1em;
  max-height: 5em;
  text-align: start;
  text-shadow: -1px -1px 3px $background_white;
  margin-top: 0;

  @include breakpoint($tab_device) {
    margin-top: 1em;
  }
  @include breakpoint($tab_device) {
    font-size: 1.2em;
  }
}

.list-item {
  flex: 0 1 100%;
  padding-bottom: 1.5em;
  margin: 0 1em;

  a {
    transition: transform .2s;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;

    img {
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 80%;
      height: 80%;
    }
    .price {
      transition: transform .2s;
    }

    &:hover {
      transform: scale(1.05);
      .price{
        transform: scale(1.2);
      }
    }
  }

  .vertical-sidetext {
    text-align: start !important;
    font-size: 1.5em;
    margin-top: .5em;
    margin-right: 1em;
    @include breakpoint($tab_device) {
      margin-top: 1em;
    }
    @include breakpoint($medium_device) {
      font-size: 1.2em;
    }
  }
  .item__details {
    display: flex;
    flex-direction: column;
    font-size: 1em;

    * + * {
      margin-top: .75em;
    }

    h4 {
      @extend %bold-font;
      font-size: 1em;
      color: $primary;
    }
    .price {
      font-size: $phi_up;
    }
  }

  @include breakpoint($tab_device) {
    margin: 0 1.5em;
    flex: 0 1 calc(50% - 1.5em - 1.5em);
  }

  @include breakpoint($medium_device) {
    flex: 0 1 calc(33% - 1.5em - 1.5em);
  }
}

.list-item__featured {
  margin: 0 1em;
  flex: 0 1 calc(27% - 1em - 1em);
  padding-bottom: 3em;

  a {
    transition: transform .2s;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;

    img {
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 70%;
      height: 70%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .item__details {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin-top: .75rem;

    * + * {
      margin-top: .75em;
    }

    h4 {
      @extend %bold-font;
      font-size: 1rem;
      color: $primary;
    }
  }

  @include breakpoint($tab_device) {
    margin: 0 1.5em;
    flex: 0 1 calc(27% - 1.5em - 1.5em);
    .item__details {
      h4 {
        font-size: 1em;
      }
    }
  }
}