.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1em;
  top: 0;
  z-index: 4000;
  height: $header_height;
  background-color: $primary;
  * + * {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 100;
  }

  .menu {
    z-index: 1;
  }

  .nav__title {
    margin-right: auto;

    h1 {
      color: $light_yellow;
      transition: all 0.3s ease;
      font-size: 2rem;
      margin-left: 2rem;
      &:hover {
        color: $secondary-light;
        transform: scale(1.075) translateX(0.15em);
      }
    }
  }

  button:hover {
    cursor: pointer;
  }

  .inline-menu {
    display: none;
  }

  @include breakpoint($tab_device) {
    padding: 0 3em;
  }

  @include breakpoint($medium_device) {
    padding: 0 6em;
  }
}

.menu-toggle {
  position: absolute;
  top: -1.2em;
  right: 0.1em;
  border: 0;
  background-color: $primary;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1.55em;
  
  &::after {
    color: $light_yellow;
    position: absolute;
    text-indent: 0;
    top: 0.2em;
    left: 0.2em;
    display: block;
    z-index: 5502;
    content: "\2261";
    
    @include breakpoint($big_device) {
      display: none;
    }
  }

  &:hover::after {
    cursor: pointer;
    transition: color 0.3s ease;
    color: $secondary-light;
  }
}

.menu {
  margin-top: 0;
  position: absolute;  
  top: -600px;
  left: 0px;
  right: 0px;

  @include breakpoint($big_device) {
    position: static;
    display: block;
    top: 0px;
    float: right;
  }
}

.menu-dropdown {
  display: block;
  position: sticky;
  margin: 0;
  background-color: $primary;

  @include breakpoint($big_device) {
    display: block;
    position: static;
  }
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border-top: 1px solid $light_yellow;
  border-bottom: 1px solid $light_yellow;
  list-style: none;
  background-color: $primary;
  color: $primary;
  
  li {
    padding: 1em;
    color: $light_yellow;
    
    > a {
      font-size: $phi_up;
      color: inherit;
      text-decoration: none;

      &:hover {
        transition: color 0.3s ease;
        color: $secondary-light;
      }
    }
  }

  li + li {
    margin-top: 0;
    border-top: 1px solid $light_yellow;
  }
  @include breakpoint($tab_device) {
    > li {
      padding: 1em 3em;
    }
  }
  @include breakpoint($medium_device) {
    > li {
      padding: 1em 6em;
    }
  }
  @include breakpoint($big_device) {
    display: flex;
    border: 0;
    padding: 0 1em;

    > li {
      flex: 1;
      padding: 1em;
    }

    > li + li {
      border: 0;
    }

    > li > a {
      padding: 0.3em;
      text-align: center;
    }
  }
}

.menu.is-open .menu-dropdown {
  transform: translateY(690px);//600 + 90
  transition: transform 0.4s ease;
}
