.text-center {
  text-align: center !important;
}

.float-left {
  float: left !important;
}

.hidden {
  display: none !important;
}

.overflow-visible {
  overflow: visible !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fragment {
  margin: 0 !important;
  padding: 0 !important;
}

.mt0 {
  margin-top: 0;
}

.push-right {
  margin-left: auto;
}

.semi-full {
  min-height: calc(90vh - 90px - 90px);
}